body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  color: #2C3E50;
  background-color: #efefef !important;
  line-height: 1.6;
  margin: 0;
}

pre { 
whitewhite-space: pre-wrap; /* css-3 */ 
whitewhite-space: -moz-pre-wrap; /* Mozilla, since 1999 */ 
whitewhite-space: -pre-wrap; /* Opera 4-6 */ 
whitewhite-space: -o-pre-wrap; /* Opera 7 */ 
word-wrap: break-word; /* Internet Explorer 5.5+ */ 
}

pre {
  padding: 0 0 0 0 !important;
  margin: 0 0 0 0 !important;
  border-radius: 25px !important;


  margin: 0 0 !important;
  background: #000;
  color: #f8f8f8;
  line-height: 1.3 ;
}

pre code {
  padding: 8px !important;
  margin: 0 0 !important;
  background: #000;
  color: #f8f8f8;
  line-height: 1.3 ;
}

p {
   margin-bottom: 99;
  color: #777;
}




#singletitle {
color: #000;
font-size: 2.3em;
border-bottom: 1px solid #eee;
text-align: center;
line-height: 1.2;
}




.entry-content h1{
color: #ffffff;
background: #babab0;
margin-left: -80px;

border-left: 20px solid #babab0;
padding-left: 0;
margin-bottom: 10px;
}

p {
  margin: 10px 10px 10px 10px!important;
}


blockquote,
q {
  -webkit-hyphens: none;
  -moz-hyphens:    none;
  -ms-hyphens:     none;
  hyphens:         none;
  quotes: none;
  padding: 10px 20px;
  margin:10px 0;
  font-size: 18px;
  font-weight: 100;
  background-color: #fff;
  border-left:5px solid #ecf0f1
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

.entry-content {
position: relative;
font-size: 18px;
line-height: 1.4;
background: white;
padding: 66px;
box-shadow: 0px 0px 3px 3px #DDD;
margin-right: 6px;

margin-top: 20px;
}