{% extends "framework.html" %}
{% block category %}
<article>
  <div class="article_text">
    <dl>
      {%for p in posts%}
      <dt>{{ p.date.format('YYYY-MM-DD')  }}</dt>
      <dd><a href="{{ p.url }}">{{ p.title }}</a></dd>
      {% endfor %}
    </dl>
  </div>

</article>

<footer>
  <div id="paginator">
  {%if has_pre%}
        <a class="button_accent" href="{{pre_url}}" >&laquo;</a>
  {%endif%}
  {%if has_next%}
      <a class="button_accent" href="{{next_url}}" >Next &raquo;</a>
  {%endif%}
  </div>
</footer>
{% endblock %}