{% extends "framework.html" %}
{% block category %}
<article>
  <div class="article_text">
    <dl>
      {%for p in posts%}
      <dt>{{ p.date.format('YYYY-MM-DD')  }}</dt>
      <dd><a href="{{ p.url }}">{{ p.title }}</a></dd>
      {% endfor %}
    </dl>
  </div>
  <div class="pager">
  {%if has_pre%}
  <li class="pull-left"><a href="{{pre_url}}" >&laquo;</a></li>
  {%endif%}
  {%if has_next%}
  <li class="pull-right"><a href="{{next_url}}" >Next &raquo;</a></li>
  {%endif%}
</div>
</article>

{% endblock %}