{% extends "framework.html" %}
{% block category %}
<div class="container" id="main">

    <div class="row">

        <div id="content" class="col-md-10 col-md-offset-1" >


          {%for p in posts%}
<div class="row archive_box">

    <div class="archive_title pull-left" >
        <a class="category_title" href="/{{p.key}}"> 
        {{p.title}}
        
        </a>
    </div>

    <div class="archive_meta pull-right">
        <span class="archive_date"><i class="fa fa-calendar fa-fw"></i> {{p.date.format('YYYY-MM-DD') }}</span>
        <span class="archive_author"></span>
    </div>

</div>
          {%endfor%}    



<div class="pager">
  {%if not i==0%}
  <li class="pull-left"><a href="/?p={{i+1-1}}" >&laquo;</a></li>
  {%endif%}
  {%if has_more%}
  <li class="pull-right"><a href="/?p={{i+1+1}}" >Next &raquo;</a></li>
  {%endif%}
</div>



        </div>
  </div><!--/.row-->
</div><!--/.container-->
{% endblock %}